# vim: set ft=zsh:
alias grepir='grep -Ir'
alias mkdirs='mkdir -p'
alias ssh='TERM=xterm-256color ssh'

# ls
alias l='ls -AFlh --color=auto'
alias ll='ls -aFlh --color=auto'

# Git
alias gf='git fetch --prune'
alias gfa='git fetch --all --prune'
alias gr='git reset'
alias grh='git reset --hard'
