# vim: set syntax=sh:
alias l="ls -alh"
alias grepir='grep -Ir'
alias bro='sudo apt-get'
alias mkdirs='mkdir -p'
alias dj="cd ~/Workspace/django-projects/"
alias wrk="cd ~/Workspace/"
alias tmux="tmux -2"
