# general
.DS_Store
*~
\#*\#
*.pyc
.ropeproject
*.swp
*.swo
build/
.gitconfig.local

# vs-code
.vscode/tags

# vim
*.spl

# fontz
.fonts/
!.fonts/DejaVu*
!.fonts/Powerline*
!.fonts/Ubuntu*

# ipython
.ipython/db/*
.ipython/history
.ipython/profile_default
.ipython/README

# ptpython
.ptpython/*
!.ptpython/config.py

# hammerspoon
.hammerspoon/Spoons/*
