[submodule "powerline"]
	path = powerline
	url = git@github.com:Lokaltog/powerline.git
[submodule ".janus/neocomplcache"]
	path = .janus/neocomplcache
	url = git@github.com:Shougo/neocomplcache.git
[submodule ".janus/vim-surround"]
	path = .janus/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".janus/vim-autoclose"]
	path = .janus/vim-autoclose
	url = git@github.com:Townk/vim-autoclose.git
[submodule ".janus/vim-matchit"]
	path = .janus/vim-matchit
	url = git@github.com:edsono/vim-matchit.git
