[include]
  path = ~/.gitconfig.local

[user]
  name = "Damon Jablons"
  email = damonjablons@gmail.com

[alias]
  d = difftool

[color]
  branch = auto
  diff = auto
  status = auto
  interactive = auto
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"

[github]
  user = blackrobot

[merge]
  tool = mvimdiff
  conflictstyle = diff3
  prompt = false
  stat = true

[status]
  relativePaths = true

[diff]
  tool = mvimdiff
  suppressBlankEmpty = true
  mnemonicprefix = true

[mergetool "mvimdiff"]
  # cmd = mvim -f -d \"$LOCAL\" \"REMOTE\"
  trustExitCode = true
  keepBackup = false
  prompt = false

[difftool "mvimdiff"]
  cmd = mvim -f -d \"$LOCAL\" \"REMOTE\"
  prompt = false

[branch]
  autosetupmerge = true

[pager]
  diff = "diff-so-fancy | less --tabs=4 -RFX"
  show = "diff-so-fancy | less --tabs=4 -RFX"

[core]
  whitespace = trailing-space,space-before-tab
