[alias]
  d = difftool
  pushf = "push --force-with-lease"

[branch]
  autosetupmerge = true

[color]
  branch = auto
  diff = auto
  status = auto
  interactive = auto
  ui = auto

[core]
  excludesfile = ~/.gitignore_global
  whitespace = trailing-space,space-before-tab
  # Make `git rebase` safer on macOS
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false
  # Speed up commands involving untracked files such as `git status`.
  # https://git-scm.com/docs/git-update-index#_untracked_cache
  untrackedCache = true

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  # https://github.com/dandavison/delta
  colorMoved = default
  # diff-so-fancy = true
  hyperlinks = true
  relative-paths = true
  side-by-side = false
  features = damo-style
  # Allow navigating the diff using `n` to move forward and `N` to jump back
  # https://github.com/dandavison/delta#navigation-keybindings-for-large-diffs
  navigate = true
  # To preview themes, run this shell cmd: `delta --show-syntax-themes`
  # syntax-theme = Coldark-Dark
  # minus-style = normal auto
  # plus-style = syntax auto

[delta "damo-style"]
  dark = true
  file-added-label = [+]
  file-copied-label = [C]
  file-modified-label = [M]
  file-removed-label = [-]
  file-renamed-label = [R]
  line-numbers = true
  syntax-theme = Vibrant Sunburst

[diff]
  algorithm = histogram
  indentHeuristic = true
  mnemonicprefix = true
  prompt = false
  suppressBlankEmpty = true

[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

[difftool "kdiff3"]
  path = /usr/local/bin/kdiff3

[difftool]
  prompt = false
  keepBackup = false
  trustExitCode = false

[merge]
  keepBackup = false
  prompt = false
  stat = true
  tool = kdiff3

[mergetool]
  prompt = false
  keepBackup = false
  keepTemporaries = false

[mergetool "vscode"]
  trustExitCode = true
  cmd = code --wait $MERGED

[mergetool "kdiff3"]
  path = /usr/local/bin/kdiff3

[fetch]
  prune = true
  parallel = 4

[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

[github]
  user = blackrobot

[pull]
  rebase = true

[push]
  default = simple

[submodule]
  fetchJobs = 4

[status]
  relativePaths = false
  showUntrackedFiles = all

[user]
  name = damon
  useConfigOnly = false

[credential]
  helper = osxkeychain

[include]
  path = ~/.gitconfig.local

[init]
	defaultBranch = master
