# general
.DS_Store
*~
\#*\#
*.pyc
.ropeproject
*.swp
*.swo
build/
.gitconfig.local

# vs-code
.vscode/tags

# vim
*.spl

# fontz
.fonts/
!.fonts/DejaVu*
!.fonts/Powerline*
!.fonts/Ubuntu*

# ptpython
.ptpython/*
!.ptpython/config.py

# hammerspoon
.hammerspoon/Spoons/*

# zsh
*.zwc
*.zwc.old
