*~
\#*\#
*.pyc
.ropeproject
*.swp
*.swo
build/
.Vimball*
.vim/ruby/command-t/
.vim/doc/tags
.vim/doc/command-t.txt
.vim/.netrwhist
.gitconfig.local

# iPython
.ipython/db/*
.ipython/history
.ipython/profile_default
