[include]
  path = ~/.gitconfig.local

[user]
  name = "Damon Jablons"
  email = damonjablons@gmail.com

[alias]
  d = difftool

[color]
  branch = auto
  diff = auto
  status = auto
  interactive = auto
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[github]
  user = blackrobot

[merge]
  tool = mvimdiff
  conflictstyle = diff3
  prompt = false

[status]
  relativePaths = true

[diff]
  tool = mvimdiff
  suppressBlankEmpty = true
  mnemonicprefix = true

[mergetool "mvimdiff"]
  cmd = mvim -f -d \"$LOCAL\" \"REMOTE\"
  keepBackup = false
  prompt = false

[difftool "mvimdiff"]
  cmd = mvim -f -d \"$LOCAL\" \"REMOTE\"
  prompt = false

[branch]
  autosetupmerge = true
